/********Reset*********/
*{
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #fff;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
}
/*******CONTAINER********/
.container{
  width: 100%;
  float: left;
  text-align: center;
}

/* Header */
.header{
  padding: 0.5% 1.5%;
}
.logo{
  width:160px;
  height: 60px;
  float: left;
  background: url(../img/logo.png) center center/ 160px no-repeat;
  font-size: 0;
}

/*Botao Menu*/
.btn-menu{
  width: 56px;
  height: 56px;
  float: right;
  text-align: center;
  cursor: pointer;
  color: #8585c1;
  background-color: transparent;
}

/*Menu*/
.menu{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color:rgba(255,255,255,0.93);
  top: 0;
  left: 0;
}
.btn-close{
  font-size: 1.3em;
  color: #8585c1;
  float: right;
  cursor: pointer;
  margin: 2% 3% 0 0;
}
.menu ul{
  width: 100%;
  float: left;
  text-align: center;
}
.menu li{
  padding: 1.5%;
}
.menu li a{
  font-size: 1.5em;
  color: #8585c1;
}
.menu li a:hover, .btn-close:hover{
  color: #551A8B;
}
/* Menu
.menu-inner{
  font-size: 1em;
  text-align: right;
  margin-right: 2%;
  padding: 3% 0;
}
.menu-inner > li{
  display: inline-block;
  padding: 0 1.5%;
}
.menu-inner > li > a{
    color: #8585c1;
}
.menu-inner > li > a:hover{
  color: #551A8B;
}*/

/* Banner */
.banner{
  padding: 3% 4%;
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
}

/* Title: Texto dentro do Banner */
.title{
  margin-top: 5%;
}
.title h2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5em;
  margin-bottom: 1%;
  color: #fff;
}
.title h3{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  color: #fff;
}

/* Botoes de Sistemas Operacionais (Android e Iphone)*/
.btn-sistema-op{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5%;
  color: #fff;
  background-color: transparent;
}
/* Borda dos Botoes */
.btn-border{
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid;
  border-color: #fff;
}
/* Animacao dos botoes: Android e Iphone */
.btn-sistema-op:hover{
  color: #8585c1;
  background-color: #fff;
}

/*RESUMO: Agendamento Online*/
.resumo{
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 2%;
}
.resumo h2{
  font-size: 2em;
  color: #8585c1;
}
.resumo p{
  margin-top: 1%;
  color: #595959;
}

/* Servicos */
.servicos{
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}
/* Servico */
.servico{
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
}

/* Inner: Conteudo do Servico */
.inner{
  padding: 4% 4% 4% 4%;
}
.inner h4{
  font-size: 1em;
  font-weight: 600;
  color: #8585c1;
}
.inner p{
    margin-top: 2%;
    color: #595959;
    line-height: 1.5em;
}

/* Botoes de saiba mais */
.button-servico{
  margin-top: 3%;
}
.btn-saiba-mais{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #8585c1;
  padding: 5px 20px;
  border-radius: 5px;
}

/*RODAPE*/
.rodape{
    padding: 2% 3%;
    background-color: #8585c1;
}
/*Icones de Redes Sociais*/
.social-icons a{
  font-size: 1.1em;
  color: #fff;
  margin-right: 2%;
}
.social-icons a:last-child{
  margin-right: 0;
}
/*Informações de contato*/
.informacoes, .informacoes a{
  font-size: 1.1em;
  text-align: center;
  color: #fff;
}
.informacoes p{
  margin-bottom: 0.5%;
}

/**************MOBILE FIRST***********/
/*SMARTPHONES*/
@media screen and (min-width: 480px){
  .menu-inner{

  }
}

/*TABLETS*/
@media screen and (min-width: 640px){
  .menu-inner{

  }
}

/*TABLETS*/
@media screen and (min-width: 768px){
  .servico{
    width: 32%;
    float: left;
    margin-right: 2%;
  }
  .servico:nth-child(2){
    margin-right: 0;
  }
  .title h2{
    font-size: 3.5em;
  }
  .title h3{
    font-size: 2.7em;
  }
}
/*Small Desktop*/
@media screen and (min-width: 1024px){
  .menu-inner{

  }
  .servico{
    width: 32%; float: left;
  }
}
/*Desktops*/
@media screen and (min-width: 1366px){
  .menu-inner{

  }
}
