/********Reset*********/
*{
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}

/* Header */
.header{
  width: 100%;
  float: left;
  padding: 0.5% 1.5%;
}

.logo{
  width:160px;
  height: 60px;
  float: left;
  background: url(../img/logo.png) center center/ 160px no-repeat;
  font-size: 0;
}

/* Menu */
.menu-inner{
  text-align: right;
  margin-right: 2%;
  padding: 1% 0;
}

.menu-inner > li{
  display: inline-block;
  padding: 0 1.5%;
}

.menu-inner > li > a{
    color: #8585c1;
}

.menu-inner > li > a:hover{
  color: #551A8B;
}

/* Banner */
.banner{
  width: 100%;
  float: left;
  text-align: center;
  padding: 3% 4%;
  background: url(../img/img1.jpg) no-repeat fixed;
  background-size: cover;
}

.title h2{
  font-size: 3.5em;
  color: #fff;
}

.title h3{
  font-size: 2.5em;
  color: #fff;
  margin-right: 27%;
  margin-left: 27%;
}
