/********Reset*********/
*{
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}

/* Header */
.header{
  width: 100%;
  float: left;
  padding: 3% 4%;
}

.logo{
  width:120px;
  height: 60px;
  float: left;
  background: url(../img/logo.png) center center/ 120px no-repeat;
  font-size: 0;
}
